<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
        var tmp = "";
        '';
        for (var i = 0; i < 3; i++) {
            tmp += 'Hello, ' + strip(data.name) + ' ! ';
        }
        tmp += ', this is <h2>' + strip(data.info.name) + ' </h2>! js: ' + strip(data.info.js) + ' ';
        }
        return tmp;
    </script>
</body>

</html>